[submodule "tools/dns-by-eye"]
	path = tools/dns-by-eye
	url = https://github.com/apathy-ca/dns_by_eye.git
	branch = main
[submodule "tools/ipwhale"]
	path = tools/ipwhale
	url = https://github.com/apathy-ca/ipwhale.git
	branch = main
[submodule "tools/dnd-character-generator"]
	path = tools/dnd-character-generator
	url = ../dnd-character-generator
	branch = master
